.App{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap;
    padding: 20px;
    margin:auto;
    margin-top: 30px;
    margin-left: 30px;
    padding: 11px;
    text-align:center;
}

body{
    background-image: url('../src/components/asets/r_y_m_wallpaper.jpg') ;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}